#### Answer_1

In [26]:
import pandas as pd

lst_1 = [4,8,15,16,23,42]
lst_1_series = pd.Series(lst_1)
print(lst_1_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Answer_2

In [30]:
lst_2 = [1,2,3,4,5,6,7,8,9,10]
pd.Series(lst_2)
print(pd.Series(lst_2))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Answer_3

In [33]:
data = {
    'Name' : ['Alice','Bob','Claire'],
    'Age'  : [25,30,27],
    'Gender' : ['Female','Male','Female']
}

datagframe = pd.DataFrame(data)
print(datagframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Answer_4

##### In Pandas, a DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a spreadsheet or a SQL table. Each column in a DataFrame is a Series object.

##### A Series is a one-dimensional array-like object that can hold any data type, such as integers, floats, strings, and so on. A DataFrame, on the other hand, is a two-dimensional object that can hold multiple Series objects of different data types.

In [34]:
## Series Example
print(lst_1_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [35]:
## DataFrame Example
print(datagframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Answer_5

#### Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions and methods you can use:

##### > head() and tail(): These methods allow you to view the first or last n rows of a DataFrame. For example, df.head(5) will show the first 5 rows of the DataFrame df.

##### > describe(): This method provides a statistical summary of the DataFrame, including count, mean, standard deviation, and quartiles. For example, df.describe() will show the statistical summary of the DataFrame df.

##### > groupby(): This method allows you to group the DataFrame by one or more columns and perform operations on each group. For example, df.groupby('category')['sales'].sum() will group the DataFrame df by the 'category' column and calculate the sum of the 'sales' column for each group.

##### > pivot_table(): This method allows you to create a pivot table from a DataFrame. For example, pd.pivot_table(df, index='category', columns='year', values='sales', aggfunc=sum) will create a pivot table that shows the total sales for each category and year.

##### > apply(): This method allows you to apply a function to each element of a DataFrame or a Series. For example, df['sales'].apply(lambda x: x * 2) will multiply each element in the 'sales' column by 2.

##### > fillna(): This method allows you to fill missing values in a DataFrame with a specified value or method. For example, df.fillna(method='ffill') will fill missing values with the last known value in the DataFrame.

##### > drop(): This method allows you to drop rows or columns from a DataFrame. For example, df.drop(['column1', 'column2'], axis=1) will drop the 'column1' and 'column2' columns from the DataFrame df.

#### Answer_6

##### In Pandas, both Series and DataFrame are mutable in nature, meaning that you can modify their contents after they are created. However, Panel is an obsolete data structure in Pandas, and it has been removed in recent versions of the library. Therefore, it's not relevant to consider its mutability. Instead, you can use other Pandas data structures like DataFrame or MultiIndex to represent multi-dimensional data.

#### Answer_7

In [74]:
Team = ['Afghanistan', 'Australia', 'Bangladesh', 'England', 'ICC World XI']
Matches_played = [6, 853, 136, 1060, 1]
Matches_won = [3, 405, 16, 388, 0]
Matches_lost = [3, 229, 102, 318, 1]

In [73]:
Team = pd.Series(Team, name = 'Team' )
Matches_played = pd.Series(Matches_played , name = 'Matches_played')
Matches_won = pd.Series(Matches_won , name = 'Matches_won')
Matches_lost  = pd.Series(Matches_lost , name = 'Matches_lost ')

In [67]:
Team

0     Afghanistan
1       Australia
2      Bangladesh
3         England
4    ICC World XI
Name: Team, dtype: object

In [68]:
Matches_played

0       6
1     853
2     136
3    1060
4       1
Name: Matches_played, dtype: int64

In [69]:
Matches_won

0      3
1    405
2     16
3    388
4      0
Name: Matches_won, dtype: int64

In [70]:
Matches_lost

0      3
1    229
2    102
3    318
4      1
Name: Matches_lost , dtype: int64

In [77]:
DATA = {"Team" : Team , "Matches_played" : Matches_played , "Matches_won" : Matches_won , "Matches_lost" : Matches_lost}
dataframe = pd.DataFrame(DATA)
print(dataframe)

           Team  Matches_played  Matches_won  Matches_lost
0   Afghanistan               6            3             3
1     Australia             853          405           229
2    Bangladesh             136           16           102
3       England            1060          388           318
4  ICC World XI               1            0             1